@import 'formControl';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	user-select: none;
	scroll-behavior: smooth;
}

a {
	color: #FFF;
	text-decoration: none;

	&.auth {
		margin-top: 10px;
		color: #000;

		&:hover {
			color: #08498a;
		}
	}
}

header a {
	padding: 5px 10px;
	margin-left: 15px;
	border-radius: 10px;

	&:hover {
		background-color: #08498a;
	}
}